nav {
  a {
    border-radius: 30px;
    color: white;
    border: none;
  }
  a:hover {
    color: black;
  }

  z-index: 1000;
  width: 100%;
  // position: fixed;
  backdrop-filter: blur(20px);
  background-color: rgba(33, 32, 32, 0.568);
}
