<!-- category bar -->
<div class="card-top container-fluid">
  <div class="container genere d-flex justify-content-start pb-1 pt-1">
    <!--  -->
    <div class="item">
      <a class="btn btn-outline-success" (click)="filter('')">
        <div class="linkbtn">
          <h6>List all</h6>
        </div>
      </a>
    </div>
    <!--  -->
    <!--  -->
    <div class="item">
      <a class="btn btn-outline-success" (click)="filter('a')">
        <div class="linkbtn">
          <h6>Adventure</h6>
        </div>
      </a>
    </div>
    <!--  -->
    <!--  -->
    <div class="item">
      <a class="btn btn-outline-success" (click)="filter('h')">
        <div class="linkbtn">
          <h6>Horror</h6>
        </div>
      </a>
    </div>
    <!--  -->
    <!--  -->
    <div class="item">
      <a class="btn btn-outline-success" (click)="filter('t')">
        <div class="linkbtn">
          <h6>Thriller</h6>
        </div>
      </a>
    </div>
    <!--  -->
    <!--  -->
    <div class="item">
      <a class="btn btn-outline-success" (click)="filter('r')">
        <div class="linkbtn">
          <h6>Romance</h6>
        </div>
      </a>
    </div>
    <!--  -->
  </div>
</div>
<!--  -->
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <!-- TILE -->
      <div
        class="col mb-5"
        *ngFor="let books of filterCategory | filter: searchKey:'title'"
      >
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            width="70px"
            height="300px"
            src="{{ books.image }}"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ books.title }}</h5>
              <!-- Product price-->
              {{ books.price }} Rs
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="home/books/view-book/{{ books.id }}"
                >View options</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- TILE end -->
    </div>
  </div>
</section>
