* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  text-align: center;
  width: 100%;
  color: white;
  // backdrop-filter: blur(20px);
  // background-color: rgba(200, 223, 200, 0.3);
  margin: 1em;
  padding: 2em;
}
.cover {
  height: 100vh;
  padding-top: 77px;
  display: flex;
  align-items: center;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
}
